@charset "EUC-KR";


body {
	border: double 15px black;
	width: 700px;
	height: 300px;
	margin: 20px auto 0 auto;
}

#total {
	margin: 10px auto 0 auto;
	width: 650px;
	height: 280px;
}

#fileInput {
	width: 250px;
	height: 260px;
	margin: 9px 0 0 0;
	float: left;
}

#inputDiv {
	width: 300px;
	height: 260px;
	margin: 10px 0 0 40px;
	float: left;
	overflow: auto;
}

#inputDiv::-webkit-scrollbar {
	display: none;
}

#table5 {
	display: none;
}

#table4 {
	display: none;
}

#table3 {
	display: none;
}

#table2 {
	display: none;
}
